<div class="row">
    <h1 class="six cell" data-reload>
        <a><i class="sharebigfiles"></i><span translate content="sharebigfiles.downloadedFileLog"></span></a>
    </h1>
    <div class="action-buttons right-magnet">
        <button ng-click="shareBigFilesOpen()"><i18n>back</i18n></button>

    </div>
    <div class="row">
        <span translate content="file"></span>
    </div>
</div>

<article class="list-view">
    <table class="twelve">
        <thead class="tableheader whiteheader">
        <tr>
            <th class="user">
                <span translate content="user" ng-click="orderBy('owner.displayName')"></span>
            </th>
            <th class="content">
                <span translate content="downloadDate" ng-click="orderBy('modified.$date')"></span>
            </th>
        </tr>
        </thead>
        <tbody ng-repeat="sharebigfiles in uploads.all | filter:{'fileId': newLogId}:true">
        <tr ng-repeat="downloadLog in sharebigfiles.downloadLogs ">
            <td class="user">
                <a href="/userbook/annuaire#[[sharebigfiles.owner.userId]]">[[downloadLog.userDisplayName]]</a>
            </td>
            <td class="content">
                [[downloadLog.downloadDate()]]
            </td>
        </tr>
        </tbody>
    </table>
</article>
