<article class="icons-view">
	<header>&nbsp;</header>
	<div class="icons-view">
		<div ng-repeat="bigfiles in bigfilesList.all | filter:filterBigfiles:true" class="element reduce-block-six">
			<div ng-click="openBigfiles(bigfiles)" class="img container">
				<div>
                    <img class="twelve" skin-src="/img/illustrations/bigfiles-default.png" ng-if="bigfiles.thumbnail === undefined || bigfiles.thumbnail.trim().length === 0"/>
                    <img class="twelve" ng-src="[[bigfiles.thumbnail]]?thumbnail=120x120" ng-if="bigfiles.thumbnail !== undefined && bigfiles.thumbnail.trim().length > 0" />
				</div>

			</div>
			<behaviour name="manager" resource="bigfiles">
				<input type="checkbox" ng-model="bigfiles.selected" />
			</behaviour>
			<legend>
				<a ng-click="openBigfiles(bigfiles)" class="medium-text">
					<i ng-if="bigfiles.shared !== undefined && bigfiles.shared.length > 0 && bigfilesList.folder !== 'trash'" class="shared inline"></i>
					[[bigfiles.title]]
				</a>
				<a href="/userbook/annuaire#[[bigfiles.owner.userId]]"><strong class="small-text">[[bigfiles.owner.displayName]]</strong></a>
			</legend>

		</div>
		<div class="clear"></div>
	</div>
</article>
