<form id="upload-form" name="importForm" method="post" enctype="multipart/form-data" class="twelve cell">
    <div class="row fixed-block">
        <h2 class="subtitle">Upload fichier lourd</h2>
        <div class="row">
            <div class="twelve cell reduce-block-eight">

               <span>Il vous reste : <strong>[[formatDocumentSize(newItem.residualQuota)]]</strong> sur votre espace de stockage</span>
                </br></br>
                <strong>Expirations :</strong>
                <select name="expiration" ng-change="updateExpirationDate()" ng-model="newItem.expDate" ng-options="exp for exp in newItem.expirationDateList">
                </select>
                jours, soit le [[date | date:'dd/MM/yyyy']]
                </br>
                <strong>Nom du fichier :</strong>
                <input ng-required="true" type="text" ng-model="newItem.label" maxlength="50"/>
                </br></br>
                <!--[[$scope.expDateList.tab(0)]]-->
                <input type="file" files-input-change=""  ng-model="newItem.newFiles" />

                <div ng-if="newFile.blockIdentical && newFile.warnIdentical">
                    <div class="warning" translate content="files.warning.identical"></div>
                </div>
                <div ng-if="totalFilesSize(newFile) >= maxFileSize">
                    <div class="warning">[[lang.translate('file.too.large.limit') + (maxFileSize/1024/1024) + lang.translate('mb')]]</div>
                </div>
                <div ng-if="!(totalFilesSize(newFile) >= maxFileSize) && totalFilesSize(newFile) >= (maxSize() * 1024 * 1024)">
                    <div class="warning">[[lang.translate('file.too.large.max') + maxSize() + lang.translate('mb')]]</div>
                </div>
                </br>
                <span ng-if="newItem.loadingAttachments.length > 0">
                    <progress-bar max="100" filled="newItem.loadingAttachments[0].progress.completion" unit="%"></progress-bar>
                </span>


            </div>
            <div class="lightbox-buttons fluid right-magnet">
                <button ng-click="importForm.$valid && postFiles()">Importer</button>
                <button ng-click="closeImportView()">Terminer</button>
            </div>
        </div>
    </div>
</form>