<form id="upload-form" method="post" enctype="multipart/form-data" class="twelve cell">
    <div class="row fixed-block">
        <h2 class="subtitle">Upload fichier lourd</h2>
        <div class="row">
            <div class="twelve cell reduce-block-eight">

                <strong>Nom du fichier :</strong>
                <input type="text" ng-model="newItem.label" maxlength="50"/>
                </br>
                <strong>Expirations :</strong>
                <select name="expiration" ng-model="newItem.expDate" ng-options="exp for exp in expDateList.tab">
                </select>
                </br>

                <input type="file" files-input-change="postFiles()" ng-model="newItem.newFiles" />

                <div ng-if="newFile.blockIdentical && newFile.warnIdentical">
                    <div class="warning" translate content="files.warning.identical"></div>
                </div>
                <div ng-if="totalFilesSize(newFile) >= maxFileSize">
                    <div class="warning">[[lang.translate('file.too.large.limit') + (maxFileSize/1024/1024) + lang.translate('mb')]]</div>
                </div>
                <div ng-if="!(totalFilesSize(newFile) >= maxFileSize) && totalFilesSize(newFile) >= (maxSize() * 1024 * 1024)">
                    <div class="warning">[[lang.translate('file.too.large.max') + maxSize() + lang.translate('mb')]]</div>
                </div>


            </div>
            <div class="lightbox-buttons fluid right-magnet">
                <button ng-click="">Enregistrer</button>
            </div>
        </div>
    </div>
</form>