<div class="row">
	<div class="row">
		<h1 class="four cell">
			<a ng-click="redirect('/')"><i class="sharebigfiles"></i><span translate content="sharebigfiles.title"></span></a>
		</h1>
	</div>
	<div class="row">
		<section style="margin-left:10px">
			<div ng-include="template.containers.list" class="row"></div>
		</section>
	</div>
	<section class="toggle-buttons" ng-class="{ hide: (uploads.selection().length === 0 || !template.contains('list','table-list')) }">
		<div class="toggle block-container">
			<div class="row">
				<behaviour name="manage" resource="uploads.selection()">
					<button class="cell" translate content="remove"  ng-click="removesharebigfiles()"></button>
				</behaviour>
				<behaviour name="read" resource="uploads.selection()">
					<button class="cell" translate content="sharebigfiles.tooltip.download" ng-if="uploads.selection().length === 1" ng-click="redirect('/downloadFile/' + uploads.selection()[0]._id + '/toggle')"></button>
				</behaviour>
				<behaviour name="read" resource="uploads.selection()">
					<button class="cell" translate content="sharebigfiles.label.edit" ng-if="uploads.selection().length === 1" ng-click="redirect('/view/' + uploads.selection()[0]._id + '/toggle')"></button>
				</behaviour>
				<behaviour name="contrib" resource="uploads.selection()">
					<button class="cell" translate content="sharebigfiles.downloadedFileLog"  ng-if="uploads.selection().length === 1 && uploads.selection()[0].downloadLogs.length > 0" ng-click="redirect('/editFileLog/' + uploads.selection()[0].fileId + '/toggle')"></button>
				</behaviour>
				<behaviour name="manage" resource="uploads.selection()">
					<button class="cell" translate content="share" ng-click="shareSharebigfiles()"></button>
				</behaviour>
			</div>
		</div>
	</section>
</div>