<div class="row" ng-controller="FolderController">
	<div class="row">
		<h1 class="four cell" data-reload>
			<a><i class="sharebigfiles"></i><span translate content="sharebigfiles.title"></span></a>
		</h1>
		<nav class="contextual-buttons eight cell">
			<div class="display-buttons" ng-if="template.contains('list', 'table-list') || template.contains('list', 'icons-list')">
				<i class="show-list"
				   ng-class="{ selected: template.contains('list', 'table-list') }"
				   ng-click="openView('list', 'table-list')"></i>
				<i class="show-icons"
				   ng-class="{ selected: template.contains('list', 'icons-list') }"
				   ng-click="openView('list', 'icons-list')"></i>
			</div>
		</nav>
	</div>

	<div class="row">

		<section class="ten cell right-magnet">
			<div ng-include="template.containers.list" class="row"></div>
		</section>

	</div>

	<section class="toggle-buttons" ng-class="{ hide: uploads.selection().length === 0 }">
		<div class="toggle block-container">
			<div class="row">
				<behaviour name="manager" resource="sharebigfilesList.selection()">
					<button class="cell" translate content="edit" ng-if="sharebigfilesList.selection().length === 1 && sharebigfilesList.folder !== 'trash'" ng-click="editInfos()"/>
				</behaviour>
				<behaviour name="manager" resource="sharebigfilesList.selection()">
					<button class="cell" translate content="share" ng-if="sharebigfilesList.folder === 'mine'" ng-click="sharesharebigfiles()"/>
				</behaviour>
				<behaviour name="manager" resource="sharebigfilesList.selection()">
					<button class="cell" translate content="restore" ng-if="sharebigfilesList.folder === 'trash'" ng-click="sharebigfilesList.restore()"/>
				</behaviour>
				<behaviour name="manager" resource="sharebigfilesList.selection()">
					<button class="cell" translate content="remove" ng-click="removesharebigfiles()"/>
				</behaviour>
				<behaviour name="manager" resource="sharebigfilesList.selection()">
					<button class="cell" translate content="Télécharger" ng-click="downloadAction()"/>
				</behaviour>
				<behaviour name="manager" resource="sharebigfilesList.selection()">
					<button class="cell" translate content="properties" ng-click="editFileAction()"/>
				</behaviour>
				<div ng-show="$scope.download" class="four cells right-magnet">
					<progress-bar max="100" filled="35" unit="%"></progress-bar>
				</div>

			</div>
		</div>
	</section>
</div>
