<article class="list-view">
	<table class="twelve">
		<thead class="tableheader whiteheader">
    		<tr>
    			<th class="icon">
    				<input type="checkbox" ng-model="select.all" ng-change="switchAll()"/>
    			</th>
    			<th class="icon" />
    			<th class="content">
					<a translate content="title" ng-click="orderBy('title')"></a>
				</th>
    			<th class="user">
					<a translate content="from" ng-click="orderBy('owner.displayName')"></a>
				</th>
    			<th class="date">
					<a translate content="date" ng-click="orderBy('modified.$date')"></a>
				</th>
    		</tr>
		</thead>
		<tbody>
    		<tr ng-repeat="bigfiles in bigfilesList.all | filter:filterBigfiles:true | orderBy:ordering" ng-class="{ checked: bigfiles.selected }">
    			<td class="icon">
					<behaviour name="manager" resource="bigfiles">
						<input type="checkbox" ng-model="bigfiles.selected"/>
					</behaviour>
				</td>
    			<td class="icon">
    				<div class="twelve cell">
    					<img class="twelve" skin-src="/img/illustrations/bigfiles-default.png" ng-if="bigfiles.thumbnail === undefined || bigfiles.thumbnail.trim().length === 0"/>
    					<img class="twelve" ng-src="[[bigfiles.thumbnail]]?thumbnail=20x20" ng-if="bigfiles.thumbnail !== undefined && bigfiles.thumbnail.trim().length > 0" />
						<i ng-if="bigfiles.shared !== undefined && bigfiles.shared.length > 0 && bigfilesList.folder !== 'trash'" class="shared"></i>
					</div>
    			</td>
    			<td class="content">
                    <a ng-click="openBigfiles(bigfiles)">
						[[bigfiles.title]]
					</a>
                </td>
    			<td class="user">
                    <a href="/userbook/annuaire#[[bigfiles.owner.userId]]">[[bigfiles.owner.displayName]]</a>
                </td>
    			<td class="date">
                    [[$root.longDate(bigfiles.modified.$date)]]
                </td>
    		</tr>
		</tbody>
	</table>
</article>
